 
{% extends 'templates_DS/base_style_DS.html' %}
{% load static %}
{% block content %}
{% load widget_tweaks %} 
{%  include 'templates_DS/style_collection.html' %}


 <div class="center_post">
   <div class="tabs is-centered">
    {% if user.is_authenticated %}
    <form method="post" action="" enctype="multipart/form-data" role="form">
    {% csrf_token %}
    <table>
      <th>
      <td>
        <div class="container">
          technical task: <p>{{ form.technical_task }}</p>
          <br>
          technical ocuppation: <p>{{ form.technical_ocuppation }}</p>
          </div>
      </td>
      <td>
        <div class="container">
          start date: <p>{{ form.start_date }}</p>
          <br>
          finish date: <p>{{ form.finish_date }}</p>
        </div>
      </td>
    </th>
    </table>
  <div class="field">
    <p class="control">
      <button type="submit" name="action" class="button is-success">
        Create
      </button>
    </p>
  </div>
     </form>
 </div>
</div>
 
{% endif %}

{% endblock %}

































