{% extends 'templates_DS/base_DS_profile.html' %}
{% load static %} 
{% load humanize %} 
{% block content %}
{%  include 'templates_DS/profile_dashboard_DS.html' %}


{% if user.is_authenticated and user != profile.user %}
    <div class="split bottom_half_right"> 
      <div class="centered">
        <h1 class="buttonMain_titles"><center> {{ profile.first_name }}'S ACTIVITY </center></h1> 
        <table> 
          <th>
            <div  class="box_text_sumOfPieChart">
             <a class="button_category_activities" href="{% url 'FriendProfile_notifications_DS_evaluated' profile.user %}">  EVALUATED </a>
            </div>
          </th> 
          <th>
            <div  class="box_text_sumOfPieChart">
             <a class="button_category_activities" href="{% url 'FriendProfile_notifications_DS_requested' profile.user %}">  REQUESTED </a>
            </div>
          </th> 
          <th>
            <div  class="box_text_sumOfPieChart">
             <a class="button_category_activities" href="{% url 'FriendProfile_notifications_DS_scored' profile.user %}">  SCORED </a>
            </div>
          </th> 
          <th>
            <div  class="box_text_sumOfPieChart">
             <a class="button_category_activities" href="{% url 'FriendProfile_notifications_DS_teamedUp' profile.user %}">  TEAMEDUP </a>
            </div>
          </th>
        </table> 
{% for post_item in posts %}
        <table>
          <th> 
          <div class="notification_box">
            <div class="media">
              <div class="media-left">
                <article class="media">
                  <figure class="image is-64x64">
                  <p class="image is-64x64">
                  {% if post_item.user.profile_DS.picture %}
                    <img class="box_notification_picture" src="{{ post_item.user.profile_DS.picture.url }}" alt="Placeholder image">
                  {% else %}
                  <img class="box_notification_picture" src="{% static 'img/WeighUp.png' %}" alt="Placeholder image">
                  {% endif %} 
                  </p>
                </figure>
          </div>
          </th>
          <th> 
              <div class="media-content">
                <div class="content">
                {% if post_item.user.profile_DS.first_name %}
                <a href="{% url 'UserProfile_DS' post_item.user %}"><profile_name>{{ post_item.user.profile_DS.first_name }} {{ post_item.user.profile_DS.last_name }}</profile_name></a>
                {% else %}
                  <a href="{% url 'UserProfile_DS' post_item.user %}"><p class="title is-6">{{ post_item.user.username}}</p></a> 
                {% endif %}       
                <a href="{% url 'PostDetails_DS' post_item.id %}"> <p class="data-header"><title_header>Evaluated:</title_header> <span> {{ post_item.posted | naturaltime }}</span></p></a> 
                <a href="{% url 'PostDetails_DS' post_item.id %}"> <p class="data-header"><title_header>Evaluatee:</title_header> <span>{{ post_item.attendees_evaluated}}</span></p></a> 
                <a href="{% url 'PostDetails_DS' post_item.id %}">  <p class="data-header"><title_header>Method:</title_header> <span> {{ post_item.task_method}}</span></p></a> 
                <a href="{% url 'PostDetails_DS' post_item.id %}">  <p class="data-header"><title_header>lasted:</title_header> <span>{{ post_item.evaluation_duration}}</span></p></a> 
                </div>
              </article>
            </div>
          </th>                       
            {% if user.is_authenticated %}
            <td align="right"> 
              <a href="{% url 'EditPost_DS' post_item.id %}" class="btn btn-outline-secondary btn-sm">
                <title_header>Update</title_header>
                </a> 
                <a href="{% url 'pre_DeletePost_DS' post_item.id %}">
                <title_header>Delete</title_header> 
                </a>
            </td>
            {% endif %} 
          </table>     
        <br> 
{% empty %} 
  <h1 class="titles_empty"><center> NOT EVALUATED YET!  </center></h1> 
{% endfor %} 
      </div>
    </div> 
  </div>
</div>

<div class="split bottom_half_left"> 
    <div class="centered">
      <h1 class="buttonMain_titles"><center> YOUR ACTIVITY </center></h1>
      <table> 
        <th>
          <div  class="box_text_sumOfPieChart">
           <a class="button_category_activities" href="{% url 'FriendProfile_notifications_DS_evaluated' profile.user %}">  EVALUATED </a>
          </div>
        </th> 
        <th>
          <div  class="box_text_sumOfPieChart">
            <a class="button_category_activities" href="{% url 'FriendProfile_notifications_DS_requested' profile.user %}">  REQUESTED </a>
          </div>
        </th> 
        <th>
          <div  class="box_text_sumOfPieChart">
            <a class="button_category_activities" href="{% url 'FriendProfile_notifications_DS_scored' profile.user %}">  SCORED </a>
          </div>
        </th> 
        <th>
          <div  class="box_text_sumOfPieChart">
           <a class="button_category_activities" href="{% url 'FriendProfile_notifications_DS_teamedUp' profile.user %}">  TEAMEDUP </a>
          </div>
        </th>
      </table> 
{% for post_item in posts_self %}
    <table>
      <th> 
      <div class="notification_box">
        <div class="media">
          <div class="media-left">
            <article class="media">
              <figure class="image is-64x64">
              <p class="image is-64x64">
              {% if post_item.user.profile_DS.picture %}
                <img class="box_notification_picture" src="{{ post_item.user.profile_DS.picture.url }}" alt="Placeholder image">
              {% else %}
              <img class="box_notification_picture" src="{% static 'img/WeighUp.png' %}" alt="Placeholder image">
              {% endif %} 
              </p>
            </figure>
      </div>
      </th>
      <th> 
          <div class="media-content">
            <div class="content">
            {% if post_item.user.profile_DS.first_name %}
            <a href="{% url 'UserProfile_DS' post_item.user %}"><profile_name>{{ post_item.user.profile_DS.first_name }} {{ post_item.user.profile_DS.last_name }}</profile_name></a>
            {% else %}
              <a href="{% url 'UserProfile_DS' post_item.user %}"><p class="title is-6">{{ post_item.user.username}}</p></a>
            {% endif %}       
            <a href="{% url 'PostDetails_DS' post_item.id %}"> <p class="data-header"><title_header>Evaluated:</title_header> <span> {{ post_item.posted | naturaltime }}</span></p></a> 
            <a href="{% url 'PostDetails_DS' post_item.id %}"> <p class="data-header"><title_header>Evaluatee:</title_header> <span>{{ post_item.attendees_evaluated}}</span></p></a> 
            <a href="{% url 'PostDetails_DS' post_item.id %}">  <p class="data-header"><title_header>Method:</title_header> <span> {{ post_item.task_method}}</span></p></a> 
            <a href="{% url 'PostDetails_DS' post_item.id %}">  <p class="data-header"><title_header>lasted:</title_header> <span>{{ post_item.evaluation_duration}}</span></p></a> 
            </div>
          </article>
        </div>
      </th>                       
        {% if user.is_authenticated %}
        <td align="right"> 
          <a href="{% url 'EditPost_DS' post_item.id %}" class="btn btn-outline-secondary btn-sm">
            <title_header>Update</title_header>
            </a> 
            <a href="{% url 'pre_DeletePost_DS' post_item.id %}">
            <title_header>Delete</title_header> 
            </a>
        </td>
        {% endif %} 
      </table>      
      <br> 
{% empty %} 
  <h1 class="titles_empty"><center> NOT EVALUATED YET!  </center></h1> 
  <button class="button_callForTeamUp"> <a href="{% url 'NewPost_DS' %}"> EVALUATE </a> </button> 
{% endfor %} 
      </div>
    </div>
  </div>
</div>
{% endif %}


{% if user.is_authenticated and user == profile.user %} 
  <div class="split bottom_half_center"> 
  <div class="centered">
    <h1 class="buttonMain_titles"><center> YOUR ACTIVITY </center></h1> 
    <table> 
    <th>
      <div  class="box_text_sumOfPieChart">
        <a class="button_category_activities" href="{% url 'FriendProfile_notifications_DS_evaluated' profile.user %}">  EVALUATED </a>
      </div>
    </th> 
    <th>
      <div  class="box_text_sumOfPieChart">
       <a class="button_category_activities" href="{% url 'FriendProfile_notifications_DS_requested' profile.user %}">  REQUESTED </a>
      </div>
    </th> 
    <th>
      <div  class="box_text_sumOfPieChart">
       <a class="button_category_activities" href="{% url 'FriendProfile_notifications_DS_scored' profile.user %}">  SCORED </a>
      </div>
    </th> 
    <th>
      <div  class="box_text_sumOfPieChart">
        <a class="button_category_activities" href="{% url 'FriendProfile_notifications_DS_teamedUp' profile.user %}">  TEAMEDUP </a>
      </div>
    </th>
    </table>
{% for post_item in posts_self %}
      <table>
        <th> 
        <div class="notification_box">
          <div class="media">
            <div class="media-left">
              <article class="media">
                <figure class="image is-64x64">
                <p class="image is-64x64">
                {% if post_item.user.profile_DS.picture %}
                  <img class="box_notification_picture" src="{{ post_item.user.profile_DS.picture.url }}" alt="Placeholder image">
                {% else %}
                <img class="box_notification_picture" src="{% static 'img/WeighUp.png' %}" alt="Placeholder image">
                {% endif %} 
                </p>
              </figure>
        </div>
        </th>
        <th> 
            <div class="media-content">
              <div class="content">
              {% if post_item.user.profile_DS.first_name %}
              <a href="{% url 'UserProfile_DS' post_item.user %}"><profile_name>{{ post_item.user.profile_DS.first_name }} {{ post_item.user.profile_DS.last_name }}</profile_name></a>
              {% else %}
                <a href="{% url 'UserProfile_DS' post_item.user %}"><p class="title is-6">{{ post_item.user.username}}</p></a>
              {% endif %}       
              <a href="{% url 'PostDetails_DS' post_item.id %}"> <p class="data-header"><title_header>Evaluated:</title_header> <span> {{ post_item.posted | naturaltime }}</span></p></a> 
              <a href="{% url 'PostDetails_DS' post_item.id %}"> <p class="data-header"><title_header>Evaluatee:</title_header> <span>{{ post_item.attendees_evaluated}}</span></p></a> 
              <a href="{% url 'PostDetails_DS' post_item.id %}">  <p class="data-header"><title_header>Method:</title_header> <span> {{ post_item.task_method}}</span></p></a> 
              <a href="{% url 'PostDetails_DS' post_item.id %}">  <p class="data-header"><title_header>lasted:</title_header> <span>{{ post_item.evaluation_duration}}</span></p></a> 
              </div>
            </article>
          </div>
        </th>                       
          {% if user.is_authenticated %}
          <td align="right"> 
            <a href="{% url 'EditPost_DS' post_item.id %}" class="btn btn-outline-secondary btn-sm">
              <title_header>Update</title_header>
              </a> 
              <a href="{% url 'pre_DeletePost_DS' post_item.id %}">
              <title_header>Delete</title_header> 
              </a>
          </td>
          {% endif %} 
        </table>        
      <br>
 {% empty %}
  <h1 class="titles_empty"><center> NOT EVALUATED YET!  </center></h1>
  <button class="button_callForTeamUp"> <a href="{% url 'NewPost_DS' %}"> EVALUATE </a> </button>
{% endfor %} 
      </div>
    </div> 
  </div>
</div>
{% endif %}

{% endblock %}



