{% extends 'templates_DS/base_DS_profile.html' %}
{% load static %}
{% block content %}
{%  include 'templates_DS/profile_dashboard_DS.html' %}


<div class="split bottom"> 
    <div class="centered"> 
      {% autoescape off %}
          {{ plot_div }}
      {% endautoescape %}

      {% if user.is_authenticated and user == profile.user %}
          <button class="button_addPost"> <a href="{% url 'Experience_chart_DS' %}"> Add Project </a> </button>
      {% endif %}
  </div>
</div>

{% endblock %} 